@import url(http://fonts.googleapis.com/css?family=Aladin);
h1 {
  text-align: center;
  font-family: 'Aladin', cursive;
  color: #BF2424;
}
button {
  margin-left: 10px;
  background-color: #A8BFBB;
  color: #BF2424;
}
#gameBoard {
  height: 616px;
  width: 770px;
  margin: auto;
  display: none;
}
td {
  height: 150px;
  width: 150px;
  background-color: #02734A;
  position: relative;
}
.cardBack {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 120px;
  width: 120px;
  border-radius: 10px;
  background-color: #A8BFBB;
  border: 3px solid #730303;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
.cardFront {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 120px;
  width: 120px;
  border-radius: 10px;
  background-color: #A8BFBB;
  border: 3px solid #730303;
  text-align: center;
  line-height: 120px;
  font-size: 60px;
  font-family: 'Aladin', cursive;
  color: #730303;
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
