@import url(http://fonts.googleapis.com/css?family=Aladin);
h1 {
  text-align: center;
}
#gameBoard {
  height: 616px;
  width: 770px;
  margin: auto;
  display: none;
}
td {
  height: 150px;
  width: 150px;
  background-color: #8B1F33;
  position: relative;
}
.cardBack {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 120px;
  width: 120px;
  border-radius: 10px;
  background-color: #FFBA83;
  border: 3px solid #250E18;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
.cardFront {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 120px;
  width: 120px;
  border-radius: 10px;
  background-color: #FFBA83;
  border: 3px solid #250E18;
  text-align: center;
  line-height: 120px;
  font-size: 60px;
  font-family: 'Aladin', cursive;
  color: #250E18;
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
