doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Shell Game
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    h1 Shell Game!
    #counter
      #countHolder
        #won
        #slash
        #played
    #percent
    #playground
      button#play Play!
      #shellHolder
